*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toolbar{
    margin: 12px auto 12px auto;    
}
.toolbar div{
    font-weight: bold;
}
.mainButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainButton button{
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 7px 12px;
    font-size: .9rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}
.mainCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    border-radius:10px;
    border: thin lightblue solid;
}
.mainButton2 button{
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 7px 12px;
    font-size: .9rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(187, 18, 18);
}
.footerNew{
    display: flex;
    position:fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    margin-top: 10px;
    background-color: lightblue;
    height: 50px;
    width: 100%;
}
